<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Tech Blog</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        {{#if logged_in}}
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="#" id="logout">Logout</a></li>
        {{else}}
        <li><a href="/login">Login/Sign Up</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <p>Tech Blog 2024</p>
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{else}}
  <script src="/js/login.js"></script>
  {{/if}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="/js/post.js"></script>
  <script src="/js/comment.js"></script>
</body>
</html>