/* main styles */
body {
    margin: 0;
    padding: 0;
    font-family: monospace, Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #444;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    color: #00bd00;
    text-decoration: none;
}

nav ul li a:hover {
    color: #00db00;
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 20px;
    background-color: #222222;
}

footer {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

/* homepage */
.hero {
    padding: 50px;
    text-align: center;
}

.hero h2 {
    color: #ffffff;
    font-size: 2.5em;
}

.hero p {
    color: #ffffff;
    font-size: 1.2em;
}

.post-list {
    margin-top: 30px;
    max-width: 20%;
    margin: 30px auto;
}

@media only screen and (max-width: 1200px) {
    .post-list {
        max-width: 100%;
    }
}

@media only screen and (min-width: 1201px) {
    .post-list {
        min-width: 960px;
    }
}


.post {
    background-color: #444;
    border: 2px solid #1a1a1a;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.post-time,
.s-post-time,
.comment-time {
    color: #656565;
}

.post-content,
.s-post-content {
    white-space: pre-wrap;
}

.post-content,
.s-post-content,
.comment-content {
    font-size: 1em;
    color: #ffffff;
    font-size: .9em;
    margin-top: 0;
}

.comments {
    color: #ffffff;
}


h1 {
    color: #ffffff
}

/* login and signup */
.login-form,
.signup-form {
    width: 35%;
    background-color: #444;
    border: 3px solid #1a1a1a;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.login-form h2,
.signup-form h2 {
    color: #ffffff;
    font-size: 1.5em;
    margin-top: 0;
}

.login-form div,
.signup-form div {
    margin-bottom: 15px;
}

.login-form label,
.signup-form label {
    display: block;
    color: #ffffff;
    margin-bottom: 5px;
}

.login-form input,
.signup-form input {
    width: 95%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ffffff;
}

.login-form button,
.signup-form button {
    background-color: #00bd00;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.login-form button:hover,
.signup-form button:hover {
    background-color: #00cc00;
}

/* Dashboard */
.dash-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #444;
    border: 3px solid #1a1a1a;
    border-radius: 5px;
}

.dash-greeter {
    text-align: center;
}

.username-color {
    color: #9500ff;
}

.dash-container h2 {
    color: #ffffff;
    font-size: 1.5em;
    margin-bottom: 10px;
}

#new-post-form {
    margin-bottom: 20px;
}

#new-post-form div {
    margin-bottom: 15px;
}

#new-post-form label {
    display: block;
    color: #ffffff;
    margin-bottom: 5px;
}

#new-post-form input,
#new-post-form textarea {
    width: 95%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ffffff;
}

#new-post-form textarea {
    height: 150px;
}

#new-post-form button {
    background-color: #00bd00;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

#new-post-form button:hover {
    background-color: #00cc00;
}

#post-container {
    margin-top: 20px;
}

.post .post-actions {
    margin-top: 10px;
}

.post .post-actions button {
    background-color: #00bd00;
    color: #000;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
}

.post .post-actions button:hover {
    background-color: #00cc00;
}

.edit-post-form {
    margin-top: 10px;
}

.edit-post-form label {
    display: block;
    color: #ffffff;
    margin-bottom: 5px;
}

.edit-post-form input,
.edit-post-form textarea {
    width: 95%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    margin-bottom: 10px;
}

.edit-post-form button {
    background-color: #747474;
    color: #000;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
}

.edit-post-form button:hover {
    background-color: #888888;
}

.comment-list {
    margin-top: 20px;
}

.add-comment-form {
    margin-top: 10px;
}

.add-comment-form textarea {
    width: 95%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    margin-bottom: 10px;
}

.add-comment-form button {
    background-color: #00bd00;
    color: #000;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.add-comment-form button:hover {
    background-color: #00cc00;
}

/*Drop down styles for Posts/comments ellipsis edit/cancel buttons */
.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 8px 12px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-header .dropdown {
    position: relative;
    display: inline-block;
}

.comment-header .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.comment-header .dropdown:hover .dropdown-content {
    display: block;
}

.comment-header .dropdown-content button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 8px 12px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.comment-header .dropdown-content button:hover {
    background-color: #ddd;
}

.save-edit-comment-btn,
.cancel-edit-comment-btn {
    background-color: #747474;
    color: #000;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
}

.save-edit-comment-btn:hover,
.cancel-edit-comment-btn:hover {
    background-color: #888888;
}

/*Single-post view */
.single-post {
    width: 35%;
    margin: 30px auto;
}

@media only screen and (max-width: 1200px) {
    .single-post {
        max-width: 100%;
    }
}

@media only screen and (min-width: 1201px) {
    .single-post {
        min-width: 960px;
    }
}
.s-post-title,
.post-title {
    font-size: 22px;
    margin-top: 0;
    color: #ffffff;
}

.post-title-link {
    text-decoration: none;
    color: #ffffff;
}

.read-more,
.login-post-link {
    color: #00bd00;
    text-decoration: none;
}

.read-more:hover,
.login-post-link:hover {
    text-decoration: underline;
    color: #00db00;
}

.login-message {
    color: #444
}